.section4 {
  padding: 12rem 0 20rem;
  background-color: #fffae9;
  overflow: hidden;
  .section-wrap {
    position: relative;
    padding: 0 var(--max-width-padding);
    & > h3 {
      color: $color-black;
      text-align: center;
      font-family: gmarket;
      font-size: 4rem;
      font-weight: 500;
      line-height: 5rem;
      letter-spacing: -0.08rem;
      margin-bottom: 6rem;

      & > strong {
        color: $color-orange;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1280px) {
  .section4 {
    padding: 8rem 0 13rem;
    .section-wrap {
      & > h3 {
        font-size: 3rem;
        line-height: 3.8rem;
        letter-spacing: -0.06rem;
        margin-bottom: 4.5rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .section4 {
    padding: 4rem 0 6rem;
    .section-wrap {
      & > h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: -0.04rem;
        margin-bottom: 4.5rem;
      }
    }
  }
}
