.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: $background-color;
  z-index: 9999;

  .header-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    padding: 0 var(--max-width-padding);
    margin: 0 auto;
    .logo {
      width: 18.7rem;
      cursor: pointer;
      & > img {
        width: 100%;
      }
    }
    .contactus-wrap {
      display: flex;
      flex: 1;
      justify-content: center;
      .contactus {
        display: flex;
        align-items: center;
        border: 0.1rem solid #e7e7e7;
        border-radius: 10rem;
        padding: 1rem 2rem 1rem 1rem;
        button {
          font-size: 1.6rem;
          line-height: 2rem;
          letter-spacing: -0.032rem;
          font-weight: 700;
          color: #fff;
          padding: 1rem 2rem;
          background-color: #f7763f;
          border-radius: 10rem;
          cursor: pointer;
        }
        .call {
          font-size: 2rem;
          line-height: 2rem;
          letter-spacing: -0.04rem;
          font-weight: 400;
          color: #333;
          background: url("/assets/images/ico_header_call.png") no-repeat 0% -2px / contain;
          padding-left: 2.4rem;
          margin-left: 2rem;
        }
      }
    }
    .nav-wrap {
      margin-left: auto;

      .menu {
        display: none;
      }
      nav {
        & > a {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 3.5rem;
          letter-spacing: -0.03rem;
          color: $color-black;
        }
        & > a + a {
          margin-left: 4.5rem;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .header {
    .header-wrap {
      .logo {
        width: 18.7rem;
      }
      .contactus-wrap {
        .contactus {
          padding: 1rem 1.4rem 1rem 1.4rem;
          button {
            font-size: 1.5rem;
            line-height: 1.2rem;
            letter-spacing: -0.032rem;
            padding: 1rem 1.4rem;
          }
          .call {
            font-size: 1.6rem;
            line-height: 1.8rem;
            letter-spacing: -0.04rem;
            background: url("/assets/images/ico_header_call.png") no-repeat 0% -1.2px / contain;
            padding-left: 2.2rem;
            margin-left: 1.2rem;
            white-space: nowrap;
          }
        }
      }
      .nav-wrap {
        nav {
          & > a {
            font-size: 1.5rem;
            line-height: 3.5rem;
            letter-spacing: -0.03rem;
          }
          & > a + a {
            margin-left: 4.5rem;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .header-wrap {
      .logo {
        width: 13.5rem;
      }
      .contactus-wrap {
        display: none;
      }
      .nav-wrap {
        .menu {
          display: inline-block;
          width: 2.4rem;
          height: 2.4rem;
          background: url("/assets/images/ico_menu_mo.png") no-repeat 50% 50% / cover;
          cursor: pointer;
        }
        nav {
          display: none;
        }

        &.active {
          .menu {
            background: url("/assets/images/ico_close_mo.png") no-repeat 50% 50% / cover;
          }
          nav {
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            margin: var(--header-height) 0 0;
            padding: 3rem var(--max-width-padding) 0;
            & > a {
              display: flex;
              align-items: center;
              font-size: 1.9rem;
              margin-left: 0;
              height: 5.8rem;
            }
          }
        }
      }
    }
  }
}
