.platform {
  padding: 8rem 4rem 4rem;
  .platform-wrap {
    .tab-wrap {
      display: flex;
      margin: 0 auto;
      width: 40rem;
      height: 6rem;
      border: 0.1rem solid $color-black;
      border-radius: 7.2rem;
      .tab {
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & > span {
          position: relative;
          z-index: 2;
          color: $color-black;
          text-align: center;
          font-family: gmarket;
          font-size: 2rem;
          font-weight: 500;
          line-height: 2.8rem;
          letter-spacing: -0.048rem;
        }
        &.active {
          & > span {
            color: $color-white;
          }
          &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: -0.1rem;
            left: -0.1rem;
            width: 100%;
            height: 100%;
            border: 0.1rem solid $color-orange;
            background-color: $color-orange;
          }
        }
      }
      .tab + .tab {
        border-left: 0;
      }
      .tab:first-of-type {
        &.active::before {
          border-radius: 7.2rem 0 0 7.2rem;
        }
      }
      .tab:last-of-type {
        &.active::before {
          border-radius: 0 7.2rem 7.2rem 0;
          z-index: 1;
        }
      }
    }

    .content-wrap {
      width: 60rem;
      .image {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        & > img {
          width: calc(33.333% - 2rem);
          margin: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .platform {
    padding: 6rem 3rem 3rem;
    .platform-wrap {
      .tab-wrap {
        width: 32rem;
        height: 5rem;
        .tab {
          cursor: pointer;
          & > span {
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: -0.048rem;
          }
        }
      }
      .content-wrap {
        max-width: 44.8rem;
        width: 60rem;
        .image {
          margin-top: 3.2rem;
          display: flex;
          flex-wrap: wrap;
          & > img {
            width: calc(33.333% - 1.6rem);
            margin: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .platform {
    padding: 5rem 2rem 2rem;
    .platform-wrap {
      .tab-wrap {
        width: 65%;
        height: 3.2rem;
        .tab {
          cursor: pointer;
          & > span {
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: -0.048rem;
          }
        }
      }
      .content-wrap {
        width: 100%;
        .image {
          margin-top: 1.5rem;
          display: flex;
          flex-wrap: wrap;
          & > img {
            width: calc(33.333% - 0.8rem);
            margin: 0.4rem;
          }
        }
      }
    }
  }
}

// @media (max-width: 768px) {
//   .platform {
//     padding: 5rem 2rem 2rem;
//     .platform-wrap {
//       .tab-wrap {
//         // width: 80%;
//       }
//       .content-wrap {
//         // width: 100%;
//       }
//     }
//   }
// }
