.section5 {
  padding: 15rem 0;
  background-color: $color-white;
  overflow: hidden;
  .section-wrap {
    position: relative;
    & > h3 {
      color: $color-black;
      text-align: center;
      font-family: gmarket;
      font-size: 5.4rem;
      font-weight: 500;
      line-height: 6.6rem;
      letter-spacing: -0.107rem;
      margin-bottom: 12rem;
      & > strong {
        color: $color-orange;
        font-weight: 500;
      }
    }
    .partner-logo {
      display: inline-block;
      width: 100%;
      .logo-wrap {
        & > img + img {
          margin-left: 3rem;
        }
      }
      .logo-wrap + .logo-wrap {
        margin-top: 3rem;
      }
    }
  }
}

@media (max-width: 1440px) {
  .section5 {
    padding: 12rem 0;
    .section-wrap {
      position: relative;
      & > h3 {
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: -0.08rem;
        margin-bottom: 6rem;
      }
      .partner-logo {
        .logo-wrap {
          & > img + img {
            margin-left: 3rem;
          }
        }
        .logo-wrap + .logo-wrap {
          margin-top: 3rem;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .section5 {
    padding: 8rem 0;
    .section-wrap {
      position: relative;
      & > h3 {
        font-size: 3rem;
        line-height: 3.8rem;
        letter-spacing: -0.06rem;
        margin-bottom: 4.5rem;
      }
      .partner-logo {
        .logo-wrap {
          & > img + img {
            margin-left: 3rem;
          }
        }
        .logo-wrap + .logo-wrap {
          margin-top: 3rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .section5 {
    padding: 4rem 0;
    .section-wrap {
      position: relative;
      & > h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: -0.04rem;
        margin-bottom: 4.5rem;
      }
      .partner-logo {
        .logo-wrap {
          & > img + img {
            margin-left: 3rem;
          }
        }
        .logo-wrap + .logo-wrap {
          margin-top: 3rem;
        }
      }
    }
  }
}
