// 가로 최대 크기
@mixin max-width {
  max-width: var(--max-width);
  padding: 0 var(--max-width-padding);
  margin: 0 auto;
}

@mixin data-content-row {
  margin-top: 0rem;
  &:nth-of-type(n + 2) {
    margin-top: 2rem;
  }
}

@mixin data-content-col {
  display: flex;
  background-color: $color-white;
  border-radius: 2rem;
  padding: 2rem 3rem;
}

@mixin data-btn-submit {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: -0.016rem;
  width: 12rem;
  height: 3.8rem;
  border-radius: 3.8rem;
  background-color: $color-yellow;
}
