// 가로 최대 크기
@mixin max-width {
  max-width: var(--max-width);
  padding: 0 var(--max-width-padding);
  margin: 0 auto;
}

@mixin data-content-row {
  margin-top: 0rem;
  &:nth-of-type(n + 2) {
    margin-top: 2rem;
  }
  &.flex {
    display: flex;
    .box {
      flex-grow: 1;
    }
    .box + .box {
      margin-left: 2rem;
    }
  }
  .box {
    background-color: $color-white;
    border-radius: 2rem;
    padding: 2rem 3rem;
    &.flex {
      display: flex;
    }
  }
}
