$background-color: #fff;
$background-data-color: #f2f2f2;
//컬러
$color-white: #fff;
$color-black: #333;
$color-orange: #f66223;
$color-yellow: #fddc37;
$color-blue: #388bec;

$color-bg-popup: #fff9db;

//최대크기
// $max-width: 144rem;
// $max-width-padding: 5rem;

//헤더 크기
// $header-height: 12rem;
