:root {
  --max-width: 144rem;
  --max-width-padding: 5rem;
  --header-height: 12rem;
}

@media (max-width: 1440px) {
  :root {
    --max-width: 102rem;
    --max-width-padding: 8rem;
    --header-height: 9rem;
  }
}

@media (max-width: 768px) {
  :root {
    --max-width: 76.8rem;
    --max-width-padding: 2.6rem;
    --header-height: 6.4rem;
  }
}

.section3-slide .swiper {
  overflow: visible;
}

.section3-slide .swiper-slide {
  opacity: 0;
  cursor: pointer;
}
.section3-slide .swiper-slide img {
  width: 100%;
}
.section3-slide .swiper-slide-prev,
.section3-slide .swiper-slide-next {
  opacity: 0.5;
}
.section3-slide .swiper-slide-active {
  opacity: 1;
}
.section3-slide .swiper-slide-active img {
  box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
}
.section3-slide .swiper-pagination-fraction,
.section3-slide .swiper-pagination-custom,
.section3-slide .swiper-horizontal > .swiper-pagination-bullets,
.section3-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -8rem;
}
.section3-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.section3-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1.2rem;
}

.section3-slide .swiper-pagination-bullet {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #fff;
  opacity: 0.3;
}
.section3-slide .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (max-width: 1440px) {
  .section3-slide .swiper-pagination-fraction,
  .section3-slide .swiper-pagination-custom,
  .section3-slide .swiper-horizontal > .swiper-pagination-bullets,
  .section3-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -6rem;
  }
  .section3-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .section3-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
  }

  .section3-slide .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 768px) {
  .section3-slide .swiper-pagination-fraction,
  .section3-slide .swiper-pagination-custom,
  .section3-slide .swiper-horizontal > .swiper-pagination-bullets,
  .section3-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3rem;
  }
  .section3-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .section3-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.5rem;
  }

  .section3-slide .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
  }
}

.section4-slide .swiper {
  overflow: visible;
}

.section4-slide .swiper-slide {
  opacity: 1;
  cursor: pointer;
  padding: 0 5%;
}
.section4-slide .swiper-slide-prev,
.section4-slide .swiper-slide-next {
  opacity: 1;
}
.section4-slide .swiper-slide-active {
  opacity: 1;
}

.section4-slide .swiper-pagination-fraction,
.section4-slide .swiper-pagination-custom,
.section4-slide .swiper-horizontal > .swiper-pagination-bullets,
.section4-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -8rem;
}
.section4-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.section4-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1.2rem;
}

.section4-slide .swiper-pagination-bullet {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #e5ddda;
  opacity: 1;
}
.section4-slide .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #f66223;
}

@media (max-width: 1440px) {
  .section4-slide .swiper-pagination-fraction,
  .section4-slide .swiper-pagination-custom,
  .section4-slide .swiper-horizontal > .swiper-pagination-bullets,
  .section4-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -6rem;
  }
  .section4-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .section4-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
  }

  .section4-slide .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 768px) {
  .section4-slide .swiper-pagination-fraction,
  .section4-slide .swiper-pagination-custom,
  .section4-slide .swiper-horizontal > .swiper-pagination-bullets,
  .section4-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3rem;
  }
  .section4-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .section4-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.5rem;
  }

  .section4-slide .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
  }
}
