.top-header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 8rem;
  background-color: $color-white;
  border-left: 0.1rem solid #eeeeee;
  display: flex;
  align-items: center;

  .use-type {
    display: flex;
    align-items: center;
    height: 3.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.16px;
    padding: 0 2rem;
    color: $color-white;
    border-radius: 10rem;
    margin-left: 3rem;
    &::before {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: url("/assets/images/ico_use_type.png") no-repeat 50% 50% / contain;
      margin-right: 0.6rem;
    }
    &.user {
      background-color: $color-blue;
    }
  }
  .right {
    display: flex;
    align-items: center;
    margin-left: auto;
    .name {
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: -0.14px;
      margin-right: 2.5rem;
      strong {
        font-weight: 500;
      }
    }
    .help {
      border: 0;
      background-color: transparent;
      &::before {
        content: "";
        width: 2.4rem;
        height: 2.4rem;
        background: url("/assets/images/ico_top_header_help.png") no-repeat 50% 50% / contain;
      }
    }
    .logout {
      border: 0;
      background-color: transparent;
    }
  }
}
