.scraping-search {
  .item {
    .title {
      @include label;
      margin-bottom: 1.2rem;
    }
    .input-wrap {
      input {
        @include input;
        width: 100%;
      }
      margin-bottom: 3rem;
    }
    .search-wrap {
      display: flex;
      align-items: center;
      label {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        letter-spacing: -0.016rem;
        margin-right: 1.5rem;
      }
      input {
        @include input;
        flex-grow: 1;
      }
      button {
        @include default-button;
        margin-left: 1rem;
      }
    }

    .content-wrap {
      min-height: auto;
      padding: 1rem;
      margin-top: 2rem;
      border: 1px solid #eee;
      background: #fbfbfb;
      border-radius: 0.8rem;
    }
  }
}
