.brand {
  .row {
    @include data-content-row;

    &.flex {
      .box:nth-of-type(1) {
        width: 80%;
      }
      .box:nth-of-type(2) {
        width: 20%;
        min-width: 40rem;
      }
    }
  }

  .search-wrap {
    @include search-wrap;
  }
  .content-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    button + button {
      margin-left: 1.8rem;
    }
    label[for="file"] {
      margin-left: 1.8rem;
    }
  }
  .content-wrap {
    @include table-content-wrap;

    &.full-height {
      min-height: calc(100vh - 21.8rem);
    }
  }
}
