.sales-month {
  .row {
    @include data-content-row;
  }

  .search-wrap {
    display: flex;
    .item + .item {
      margin-left: 2rem;
    }
    .btn-submit {
      margin-left: 2rem;
    }
  }
  .content-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    button + button {
      margin-left: 1.8rem;
    }
    label[for="file"] {
      margin-left: 1.8rem;
    }
  }
  .content-wrap {
    @include table-content-wrap;

    &.full-height {
      min-height: calc(100vh - 21.8rem);
    }
  }
}
