.search-item {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  label {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.016rem;
    margin-right: 1.5rem;
    white-space: nowrap;
  }
  select {
    display: inline-block;
    width: auto;
    width: 11rem;
    border: 0.1rem solid #c2c2c2;
    background-color: #fbfbfb;
    background-position: calc(100% - 0.5rem) 50%;
  }
  input {
    display: inline-block;
    flex-grow: 1;
    border: 0.1rem solid #c2c2c2;
    background-color: #fbfbfb;
  }
}
