button.submit {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: -0.016rem;
  width: 12rem;
  height: 3.8rem;
  border-radius: 3.8rem;
  background-color: $color-yellow;
}
