.search-date-items {
  display: flex;
  align-items: center;
  .date-picker + .date-picker {
    margin-left: 2rem;
  }
  .tilde {
    font-size: 1.4rem;
    padding: 0.8rem;
  }
  label {
    @include label;
  }

  select {
    @include select;
  }
  input {
    @include input;
    background: url("/assets/images/data/ico_calender.png") no-repeat calc(100% - 0.3rem) 50% / contain;
    background-color: #fbfbfb;
    background-size: 2.4rem 2.4rem;
  }
}
