.left-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--data-left-header-width);
  height: 100vh;
  background-color: $color-white;
  padding: 0 2rem;
  z-index: 9999;
  .left-nav-wrap {
    display: block;
    .logo-wrap {
      display: inline-block;
      margin: 3rem 0;
      img {
        width: 18rem;
        margin-left: 0.4rem;
      }
    }
    nav {
      text-align: left;
      border-top: 0.1rem solid #eee;
      ul {
        padding: 0;
        li {
          display: flex;
          align-items: center;
          height: 6.4rem;
          button {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.333;
            letter-spacing: -0.18px;
            background-color: transparent;
            &::before {
              content: "";
              display: inline-block;
              width: 4.5rem;
              height: 4.5rem;
              border-radius: 4.5rem;
              background-color: #ccc;
              margin-right: 1.4rem;
            }
          }
          button.active {
            &::before {
              content: "";
              background-color: #fddc37;
            }
          }
        }
      }
      ul {
        li {
          button {
            width: 100%;
            &.company::before {
              background: url("/assets/images/data/ico_nav_company_off.png") no-repeat 50% 50% / contain;
            }
            &.user::before {
              background: url("/assets/images/data/ico_nav_user_off.png") no-repeat 50% 50% / contain;
            }
            &.brand::before {
              background: url("/assets/images/data/ico_nav_brand_off.png") no-repeat 50% 50% / contain;
            }
            &.store::before {
              background: url("/assets/images/data/ico_nav_store_off.png") no-repeat 50% 50% / contain;
            }
            &.store-account::before {
              background: url("/assets/images/data/ico_nav_store_account_off.png") no-repeat 50% 50% / contain;
            }
            &.store-mapping::before {
              background: url("/assets/images/data/ico_nav_store_mapping_off.png") no-repeat 50% 50% / contain;
            }
            &.sales-day::before {
              background: url("/assets/images/data/ico_nav_sales_day_off.png") no-repeat 50% 50% / contain;
            }
            &.sales-month::before {
              background: url("/assets/images/data/ico_nav_sales_month_off.png") no-repeat 50% 50% / contain;
            }
            &.sales-region::before {
              background: url("/assets/images/data/ico_nav_sales_region_off.png") no-repeat 50% 50% / contain;
            }
            &.sales-channel::before {
              background: url("/assets/images/data/ico_nav_sales_channel_off.png") no-repeat 50% 50% / contain;
            }
            &.sales-analyze::before {
              background: url("/assets/images/data/ico_nav_sales_analyze_off.png") no-repeat 50% 50% / contain;
            }
          }
          button.active {
            &.company::before {
              background: url("/assets/images/data/ico_nav_company_on.png") no-repeat 50% 50% / contain;
            }
            &.user::before {
              background: url("/assets/images/data/ico_nav_user_on.png") no-repeat 50% 50% / contain;
            }
            &.brand::before {
              background: url("/assets/images/data/ico_nav_brand_on.png") no-repeat 50% 50% / contain;
            }
            &.store::before {
              background: url("/assets/images/data/ico_nav_store_on.png") no-repeat 50% 50% / contain;
            }
            &.store-account::before {
              background: url("/assets/images/data/ico_nav_store_account_on.png") no-repeat 50% 50% / contain;
            }
            &.store-mapping::before {
              background: url("/assets/images/data/ico_nav_store_mapping_on.png") no-repeat 50% 50% / contain;
            }
            &.sales-day::before {
              background: url("/assets/images/data/ico_nav_sales_day_on.png") no-repeat 50% 50% / contain;
            }
            &.sales-month::before {
              background: url("/assets/images/data/ico_nav_sales_month_on.png") no-repeat 50% 50% / contain;
            }
            &.sales-region::before {
              background: url("/assets/images/data/ico_nav_sales_region_on.png") no-repeat 50% 50% / contain;
            }
            &.sales-channel::before {
              background: url("/assets/images/data/ico_nav_sales_channel_on.png") no-repeat 50% 50% / contain;
            }
            &.sales-analyze::before {
              background: url("/assets/images/data/ico_nav_sales_analyze_on.png") no-repeat 50% 50% / contain;
            }
          }
        }
      }
    }
  }
}
